<button class="btn btn-success">Update Contract Details</button>
<form>
    <table class="form-group">          
        <tr>
            <th> id </th>
            <th>job_role </th>
            <th> contract_start_date </th>
            <th> contract_end_date </th>
            <th> shift </th>
            <th> status </th>
            <th> bond_year </th>
            <th> Actions </th>
        </tr>
    <tbody> 
        <tr>
            <td ><input type="textarea" class="form-control"></td>
            <td><input type="text"  class="form-control"></td>
            <td><input type="date" class="form-control"></td>
            <td><input type="date"  class="form-control"></td>
            <td><input type="checkbox-radio"  class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="date" class="form-control"></td>
            <td> <button class="btn btn-success" (click)="addcontract()">Add +</button> </td>
        </tr>
    </tbody>
    </table>
</form>
