

<h3> Job Vacancies </h3>

<form>
    <div class="form-group">
        <label for="name">Job Title</label>
        <input type="text" class="form-control" id="name">
      <label for="name">Role</label>
      <input type="text" class="form-control" id="name">
      <label for="name">Hiring Manager</label>
      <input type="text" class="form-control" id="name">
        <label for="name">Number of Position</label>
        <input type="number" class="form-control" id="name"> 
        <label for="name">Job Location</label>
        <input type="text" class="form-control" id="name">       
        <label for="name">Job Description</label>
        <input type="text" class="form-control" id="name"> 
        <button class="btn btn-success" (click)="gotoalert()">Save</button>

    </div>
</form>