

<h3> Scheduled Interviews </h3>

<form>
    <div class="form-group">
        <label for="name">Candidate Name</label>
        <input type="text" class="form-control" id="name">
          <label for="name">Applied Role</label>
        <input type="text" class="form-control" id="name">
      <label for="name">Interview Time</label>
      <input type="Time" class="form-control" id="name">
      <label for="name">Date</label>
       <input type="date" class="form-control" id="name">

      <label for="name">Status</label>
        <select placeholder="Select Status" input type="text" class="form-control">
            <option>Selected<option>
            <option>On Hold</option>
            <option>Rejected</option>
            <option>Pending</option>
        </select> 
        <label for="name">Comments</label>
        <input type="text" class="form-control" id="name"> 
        <button class="btn btn-success" (click)="gotoalert()">Save</button>

    </div>
</form>