<h2>Recruitment Status</h2>



<div class="row">
    <nb-card class="col-lg-2 col-6">
        <h5 class="card-title">Applied Jobs</h5>
        <p class="card-text">Jobs-Applied</p>
        <nb-card-header><h4>{{[30]}}</h4></nb-card-header>
            <div class="wrapper">
                <!-- <button type="btn btn-primary" class="btn btn-primary" (click)="openpopup()">Button</button> -->
                <!-- <button type="btn btn-primary" class="btn btn-primary" ONCLICK="alert('Hello there!')">click</button> -->
                <button type="btn btn-primary" class="btn btn-primary">Job Application</button>

            </div>
        </nb-card>
          
           <!--  <div class="overlay" *ngIf="showpopup">
                <div class="content">
                    <div class="close" (click)="closepopup()">&times;</div>
                    username: <input type="text" class="form-control">
                    password: <input type="password" class="form-control">
                    <button class="btn btn-primary mt-2">submit</button>
                </div>
            </div>    --> 



        <nb-card class="col-lg-2 col-6">
            <h5 class="card-title">Interviews</h5>
            <p class="card-text">Total Interviews taken</p>
            <nb-card-header><h4>{{[3]}}</h4></nb-card-header>
            <button type="button" class="btn btn-primary" (click)="interview()">Scheduled Interview</button>
        </nb-card>
      


        <nb-card class="col-lg-2 col-6">
            <h5 class="card-title">Job Vacancies</h5>
            <p class="card-text">Total Job Vacancies</p>
            <nb-card-header><h4>{{[8]}}</h4></nb-card-header>
            <button type="button" class="btn btn-primary" (click)="addjob()">Add Job Vacancy</button>
        </nb-card>


        <nb-card class="col-lg-2 col-6">
            <h5 class="card-title">Projects</h5>
            <p class="card-text">Upcoming Projects</p>
            <nb-card-header><h4>{{[3]}}</h4></nb-card-header>
            <button type="button" class="btn btn-primary" (click)="addproj()">Add New Projects</button>
        </nb-card>


        <nb-card class="col-lg-2 col-6">
            <h5 class="card-title">Training</h5>
            <p class="card-text">Trained Employees</p>
            <nb-card-header><h4>{{[2]}}</h4></nb-card-header>
            <button type="button" class="btn btn-primary" (click)="training()">Training Status</button>
        </nb-card>


</div>





       <!-- <nb-card>
        <input type="text" nbInput fullWidth placeholder="First Name">
        <div class="full-name-inputs">
          <input type="text" nbInput fullWidth placeholder="Last Name">
          <input type="text" nbInput fullWidth placeholder="Email">
        </div>
        <input type="Password" nbInput fullWidth placeholder="Password">
        <input type="emp_number" nbInput fullWidth placeholder="emp_number">
        <input type="address" nbInput fullWidth placeholder="address">
        <input type="upload_photo" nbInput fullWidth placeholder="upload_photo">
        <input type="resume" nbInput fullWidth placeholder="resume">
        <input type="date_of_birth" nbInput fullWidth placeholder="date_of_birth">
        <input type="join_date" nbInput fullWidth placeholder="join_date">
        <input type="employee_designation" nbInput fullWidth placeholder="employee_designation">
        <input type="current_sign_in_at" nbInput fullWidth placeholder="current_sign_in_at">
        <input type="last_sign_in_at" nbInput fullWidth placeholder="last_sign_in_at">
        <input type="sign_out_at" nbInput fullWidth placeholder="sign_out_at">
        <button type="submit" nbButton status="primary">Submit</button>
      </nb-card> -->





