
<h3> Register your Leave </h3>

<form>
    <div class="form-group">
        <label for="name">Employee Id</label>
        <input type="text" class="form-control" id="name">
      <label for="name">Employee Name</label>
      <input type="text" class="form-control" id="name">
      <label for="name">Select Leave Type</label>
        <select placeholder="Select Leave Type" input type="text" class="form-control">
            <option>Leave Type<option>
            <option>Sick Leave</option>
            <option>Vacation Leave</option>
            <option>others</option>
        </select>
        <label for="name">Reason</label>
        <input type="text" class="form-control" id="name"> 
        <label for="name">Start Date</label>
        <input type="date" class="form-control" id="name">       
        <label for="name">End Date</label>
        <input type="date" class="form-control" id="name"> 
        <button class="btn btn-success" (click)="gotoalert()">Submit</button>

    </div>
</form>