<ng-container>
  <h2>HRMS Overview</h2>
  <div class="row">
      <nb-card class="col-lg-2 col-6">
        <!-- <nb-card-header><h4>{{overviewComputations()[1]}}</h4></nb-card-header> -->
        <b><nb-card-body>Total Employees Strength</nb-card-body></b>
        <nb-card-header><h4>{{[30]}}</h4></nb-card-header>
      </nb-card>

      <nb-card class="col-lg-2 col-6">
        <!-- <nb-card-header><h4>{{overviewComputations()[1]}}</h4></nb-card-header> -->
        <b><nb-card-body> Total Roles </nb-card-body></b>
        <nb-card-header><h4>{{[10]}}</h4></nb-card-header>
      </nb-card>

      <nb-card class="col-lg-2 col-6">
        <!-- <nb-card-header><h4>{{overviewComputations()[1]}}</h4></nb-card-header> -->
        <b><nb-card-body> Total Projects </nb-card-body></b>
        <nb-card-header><h4>{{[3]}}</h4></nb-card-header>
      </nb-card>

      <nb-card class="col-lg-2 col-6">
        <!-- <nb-card-header><h4>{{overviewComputations()[2]}}</h4></nb-card-header> -->
        <b><nb-card-body> Job Applications </nb-card-body></b>
        <nb-card-header><h4>{{[15]}}</h4></nb-card-header>
      </nb-card>

      <nb-card class="col-lg-2 col-6">
        <!-- <nb-card-header><h4>{{overviewComputations()[3]}}</h4></nb-card-header> -->
        <b><nb-card-body> Contract Details </nb-card-body></b>
        <nb-card-header><h4>{{[30]}}</h4></nb-card-header>
      </nb-card>
  </div>
</ng-container>